#form {
    margin: 0 auto;
    width: 500px;
    background-color: #EBEBEB;
    padding: 40px;
    color: #000000;
    border-radius: 5px;
    margin-bottom: 155px;
}

label {
    color: #000000;
}

#image {
    padding: .365rem .65rem;
}
#Title {
    width: 420px;
}

#title-register, .row {
    font-family: Arial;
}

